/* Footer */

footer {
    background-color: #e4e4e4;
}

footer nav a {
    display: block;
    border: 1px solid #d9d9d9;
    padding: 1.5rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--main-font);
    font-weight: 500;
}

footer nav a div {
    display: flex;
    justify-content: space-between;
}

footer div.social-links {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

footer div.social-links a {
    text-decoration: none;
    color: #000000;
}

footer p {
    font-family: var(--main-font);
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    padding: 1.5rem;
}

footer img {
    width: 80%;
    display: block;
    margin: 0 auto;
    padding: 1.5rem 0 3rem 0;
}