/* Navigation */

nav.main {
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
}

/* Main navigation divs */

nav.main div.left, nav.main div.right {
    display: flex;
    align-content: center;
}

nav.main div.left a, nav.main div.right a {
    color: #000000;
    text-decoration: none;
    width: 1.25rem;
    height: 1.25rem;
    overflow: hidden;
    font-size: 1.25rem;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

nav.main div.left a.logo, nav.main div.right a.logo {
    height: 1.5rem;
    width: 2.5rem;
}

nav.main div.left a.logo img, nav.main div.right a.logo img {
    height: 1.5rem;
}

nav.main div.left a:not(:first-of-type), nav.main div.right a:not(:first-of-type) {
    margin-left: 0.75rem;
}

nav.main div.right a {
    font-size: 1rem;
    width: 1rem;
    height: 1rem;
}

/* Menu overlay for that dark filter look */

nav.main div.menu-overlay {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: background-color 300ms;
}

nav.main div.menu-overlay:not(.active) {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background-color 300ms, visibility 0ms 300ms;
}

nav.main div.menu-overlay>span {
    width: 2rem;
    height: 2rem;
    font-size: 2rem;
    position: absolute;
    right: calc((15vw - 2rem) / 2);
    top: 50%;
    color: #ffffff;
    transform: translateY(-50%);
    text-align: center;
}

/* Actual expanded menu */

nav.main div.menu-overlay div {
    overflow: scroll;
    width: 85vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #faf9f8;
    transition: left 450ms;
}

nav.main div.menu-overlay:not(.active) div {
    left: -85vw;
}

nav.main div.menu-overlay div a {
    padding: 1.5rem;
    font-size: 1.25rem;
    color: #000000;
    font-family: var(--main-font);
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}

nav.main div.menu-overlay div a:first-of-type {
    justify-content: start;
    background-color: #f0ddd7;
}

nav.main div.menu-overlay div a.main {
    background-color: #ffffff;
}

nav.main div.menu-overlay div a.sub {
    font-size: 0.8rem;
    padding: 0.5rem 1.5rem;
}

nav.main div.menu-overlay div a:first-of-type span {
    margin-right: 1rem;
}

nav.main div.menu-overlay div a span {
    position: relative;
    top: 1px;
}

nav.main div.menu-overlay div a.sub:nth-of-type(8) {
    padding-top: 1.5rem;
}

/* Login overlay for that dark filter look */

nav.main section.login-overlay {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
    transition: background-color 300ms;
}

nav.main section.login-overlay:not(.active) {
    background-color: rgba(0, 0, 0, 0);
    visibility: hidden;
    transition: background-color 300ms, visibility 0ms 300ms;
}

/* Actual expanded login page */

nav.main section.login-overlay div.expanded {
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    background-color: #faf9f8;
    transition: top 450ms;
}

nav.main section.login-overlay:not(.active)>div.expanded {
    top: 100vh;
}

nav.main section.login-overlay div.expanded>div {
    text-align: right;
    font-size: 2rem;
}

nav.main section.login-overlay div.expanded h2 {
    text-align: center;
    font-family: var(--main-font);
    font-size: 1.25rem;
    margin-top: 1rem;
    text-transform: uppercase;
}

nav.main section.login-overlay div.expanded p {
    font-family: var(--main-font);
    text-align: center;
    margin: 0.5rem 0 4rem 0;
    font-size: 0.8rem;
}

nav.main section.login-overlay div.expanded label[for=email], nav.main section.login-overlay div.expanded label[for=password] {
    display: block;
    margin-top: 1rem;
    font-family: var(--main-font);
    font-weight: 500;
}

nav.main section.login-overlay div.expanded label[for=email]::after, nav.main section.login-overlay div.expanded label[for=password]::after {
    content: " *";
    color: #ff0000;
}

nav.main section.login-overlay div.expanded input[type=email], nav.main section.login-overlay div.expanded input[type=password] {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    border: 1px solid #d0d0d0;
    font-family: var(--main-font);
    padding: 1rem;
    margin-top: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
}

nav.main section.login-overlay div.expanded input[type=email]:focus, nav.main section.login-overlay div.expanded input[type=password]:focus {
    border-color: #222222;
}

nav.main section.login-overlay div.expanded div.questions {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

nav.main section.login-overlay div.expanded div.questions input[type=checkbox] {
    position: relative;
    top: 2px;
    margin-right: 0.1rem;
}

nav.main section.login-overlay div.expanded div.questions a.wachtwoord-vergeten, nav.main section.login-overlay div.expanded div.questions label[for=aangemeld-blijven], nav.main section.login-overlay div.expanded div.questions a.wachtwoord-vergeten {
    font-family: var(--main-font);
    font-size: 0.8rem;
}

nav.main section.login-overlay div.expanded div.questions a.wachtwoord-vergeten {
    text-decoration: none;
    color: #000000;
}

nav.main section.login-overlay div.expanded input[type=submit], nav.main section.login-overlay div.expanded a.word-member {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    font-family: var(--main-font);
    margin-top: 2rem;
    background-color: #000000;
    color: #ffffff;
    padding: 1rem;
    border: 1px solid #000000;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: 600;
}

nav.main section.login-overlay div.expanded a.word-member {
    display: block;
    margin-top: 1rem;
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    color: #000000;
}